// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2021-2022 Microchip Technology Inc.
 * Padmarao Begari <padmarao.begari@microchip.com>
 */

/dts-v1/;

#include "microchip-mpfs.dtsi"
#include "scai-navc-fabric.dtsi"

/* Clock frequency (in Hz) of the rtcclk */
#define RTCCLK_FREQ		1000000

/ {
	model = "TII SpacecraftAI NAVigation Computer (NAVC)";
	compatible = "microchip,mpfs-icicle-reference-rtlv2210",
	             "microchip,mpfs-icicle-kit", "microchip,mpfs";

	aliases {
		serial0 = &uart0;
		ethernet0 = &mac1;
		spi0 = &qspi;
		spi1 = &fabric_qspi0;
		spi2 = &fabric_qspi1;
		spi3 = &fabric_qspi2;
		spi4 = &fabric_qspi3;
		spi5 = &fabric_qspi4;
		spi6 = &fabric_qspi5;
		spi7 = &fabric_qspi6;
		spi8 = &fabric_qspi7;
		spi9 = &fabric_qspi8;
		spi10 = &fabric_qspi9;
	};

	chosen {
		stdout-path = "serial0:1500000n8";
	};

	cpus {
		timebase-frequency = <RTCCLK_FREQ>;
	};

	ddr_cached_low: memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x20000000>;
		label = "kernel";
	};

	ddr_non_cached_low: memory@c0000000 {
		device_type = "memory";
		reg = <0x0 0xc0000000 0x0 0x4000000>;
		label = "non-cached-low";
	};

	ddr_cached_high: memory@1000000000 {
		device_type = "memory";
		reg = <0x10 0x00000000 0x0 0x4c000000>;
		label = "cached-high";
	};

	ddr_non_cached_high: memory@1400000000 {
		device_type = "memory";
		reg = <0x14 0x00000000 0x0 0x10000000>;
		label = "non-cached-high";
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		dma_non_cached_low: non-cached-low-buffer {
			compatible = "shared-dma-pool";
			size = <0x0 0x4000000>;
			no-map;
			linux,dma-default;
			alloc-ranges = <0x0 0xc0000000 0x0 0x4000000>;
			dma-ranges = <0x0 0xc0000000 0x0 0xc0000000 0x0 0x4000000>;
		};

		dma_non_cached_high: non-cached-high-buffer {
			compatible = "shared-dma-pool";
			size = <0x0 0x10000000>;
			no-map;
			linux,dma-default;
			alloc-ranges = <0x14 0x00000000 0x0 0x10000000>;
			dma-ranges = <0x14 0x00000000 0x14 0x00000000 0x0 0x10000000>;
		};

	};

};

&refclk {
	clock-frequency = <100000000>;
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart3 {
	status = "okay";
};



&i2c1 {
	status = "disabled";
	clock-frequency = <100000>;

	pac193x: pac193x@10 {
		compatible = "microchip,pac1934";
		reg = <0x10>;
		samp-rate = <64>;
		status = "okay";
		ch1: channel0 {
			uohms-shunt-res = <10000>;
			rail-name = "VDDREG";
			channel_enabled;
		};
		ch2: channel1 {
			uohms-shunt-res = <10000>;
			rail-name = "VDDA25";
			channel_enabled;
		};
		ch3: channel2 {
			uohms-shunt-res = <10000>;
			rail-name = "VDD25";
			channel_enabled;
		};
		ch4: channel3 {
			uohms-shunt-res = <10000>;
			rail-name = "VDDA_REG";
			channel_enabled;
		};
	};
};

&mac1 {
	status = "disabled";
	phy-mode = "sgmii";
	phy-handle = <&phy1>;
	phy1: ethernet-phy@9 {
		reg = <9>;
	};
};

&qspi {
	status = "okay";
	num-cs = <1>;

	flash0: flash@0 {
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <20000000>;
		spi-cpol;
		spi-cpha;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "payload_a";
				reg = <0 0x00200000>;
			};
			partition@200000 {
				label = "ubi_a";
				reg = <0x00200000 0x07700000>;
			};
		};
	};
};

&mbox {
	status = "okay";
};

&syscontroller {
	status = "okay";
};

&fabric_qspi0 {
	status = "okay";
	num-cs = <1>;

	flash1: flash@1 {
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <20000000>;
		spi-cpol;
		spi-cpha;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "payload_b";
				reg = <0 0x00200000>;
			};
			partition@200000 {
				label = "ubi_b";
				reg = <0x00200000 0x07700000>;
			};
		};
	};
};

&fabric_qspi1 {
	status = "okay";
	num-cs = <1>;

	flash2: flash@2 {
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <20000000>;
		spi-cpol;
		spi-cpha;
	};
};

&fabric_qspi2 {
	status = "okay";
	num-cs = <1>;

	flash3: flash@3 {
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <20000000>;
		spi-cpol;
		spi-cpha;
	};
};

&fabric_qspi3 {
	status = "okay";
	num-cs = <1>;

	flash4: flash@4 {
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <20000000>;
		spi-cpol;
		spi-cpha;
	};
};

&fabric_qspi4 {
	status = "okay";
	num-cs = <1>;

	flash5: flash@5 {
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <20000000>;
		spi-cpol;
		spi-cpha;
	};
};

&fabric_qspi5 {
	status = "okay";
	num-cs = <1>;

	flash6: flash@6 {
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <20000000>;
		spi-cpol;
		spi-cpha;
	};
};

&fabric_qspi6 {
	status = "okay";
	num-cs = <1>;

	flash7: flash@7 {
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <20000000>;
		spi-cpol;
		spi-cpha;
	};
};

&fabric_qspi7 {
	status = "okay";
	num-cs = <1>;

	flash8: flash@8 {
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <20000000>;
		spi-cpol;
		spi-cpha;
	};
};

&fabric_qspi8 {
	status = "okay";
	num-cs = <1>;

	flash9: flash@9 {
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <20000000>;
		spi-cpol;
		spi-cpha;
	};
};

&fabric_qspi9 {
	status = "okay";
	num-cs = <1>;

	flash10: flash@10 {
		compatible = "jedec,spi-nor";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <10000000>;
		spi-cpol;
		spi-cpha;
	};
};

